<!doctype html>
<html lang="en" ng-app="tripleTriad">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>Triple Triad</title>
  </head>
  <body>
    <div ng-controller="GlossaryController as glossary">
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-click="glossary.select('name')"
                ng-class="{active:glossary.isSelected('name')}">
              name
            </th>
            <th ng-click="glossary.select('level')"
                ng-class="{active:glossary.isSelected('level')}">
              level
            </th>
            <th ng-click="glossary.select('top')"
                ng-class="{active:glossary.isSelected('top')}">
              top
            </th>
            <th ng-click="glossary.select('right')"
                ng-class="{active:glossary.isSelected('right')}">
              right
            </th>
            <th ng-click="glossary.select('bottom')"
                ng-class="{active:glossary.isSelected('bottom')}">
              bottom
            </th>
            <th ng-click="glossary.select('left')"
                ng-class="{active:glossary.isSelected('left')}">
              left
            </th>
            <th ng-click="glossary.select('element')"
                ng-class="{active:glossary.isSelected('element')}">
              element
            </th>
            <th ng-click="glossary.select('location')"
                ng-class="{active:glossary.isSelected('location')}">
              location
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="card in glossary.cards | orderBy : glossary.selected">
            <td>{{card.name}}</td>
            <td>{{card.level}}</td>
            <td>{{card.top}}</td>
            <td>{{card.right}}</td>
            <td>{{card.bottom}}</td>
            <td>{{card.left}}</td>
            <td>{{card.element}}</td>
            <td>{{card.location}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>
