[{:file "Abaddon.png", :level 6, :name "Abadon", :top 6, :bottom 8, :left 4, :right 5, :element nil, :location "Abyss Worm, Blood Soul"}
 {:file "AbyssWorm.png", :level 3, :name "Abyss Worm", :top 7, :bottom 2, :left 3, :right 5, :element :earth, :location "Abyss Worm"}
 {:file "Adamantoise.png", :level 4, :name "Adamantiose", :top 4, :bottom 5, :left 5, :right 6, :element :earth, :location "Adamantiose"}
 {:file "Alexander.png", :level 9, :name "Alexander", :top 9, :bottom 10, :left 4, :right 2, :element :holy, :location "Piet (Lunar Base)"}
 {:file "Anacondaur.png", :level 2, :name "Anacondaur", :top 5, :bottom 1, :left 3, :right 5, :element :poison, :location "Anacondaur"}
 {:file "Angelo.png", :level 8, :name "Angelo", :top 9, :bottom 6, :left 7, :right 3, :element nil, :location "Forest Owl's Train or White Seed Ship"}
 {:file "Armadodo.png", :level 3, :name "Armadodo", :top 6, :bottom 3, :left 1, :right 6, :element :earth, :location "Armadodo"}
 {:file "BGH251F2.png", :level 7, :name "BGH251F2", :top 5, :bottom 7, :left 8, :right 5, :element nil, :location "Behemoth,Grand Mantis"}
 {:file "Bahamut.png", :level 9, :name "Bahumut", :top 10, :bottom 8, :left 2, :right 6, :element nil, :location "Bahamut"}
 {:file "Behemoth.png", :level 5, :name "Behemoth", :top 3, :bottom 6, :left 5, :right 7, :element nil, :location "Behemoth"}
 {:file "Belhelmel.png", :level 2, :name "Belhelmel", :top 3, :bottom 4, :left 5, :right 3, :element nil, :location "Belhelmel"}
 {:file "BiteBug.png", :level 1, :name "Bite Bug", :top 1, :bottom 3, :left 3, :right 5, :element nil, :location "Bite Bug"}
 {:file "Blitz.png", :level 4, :name "Blitz", :top 1, :bottom 6, :left 4, :right 7, :element :thunder, :location "Blitz"}
 {:file "Blobra.png", :level 1, :name "Blobra", :top 2, :bottom 3, :left 1, :right 5, :element nil, :location "Blobra"}
 {:file "BloudSoul.png", :level 1, :name "Blood Soul", :top 2, :bottom 1, :left 6, :right 1, :element nil, :location "Blood Soul"}
 {:file "Buel.png", :level 4, :name "Blue Dragon", :top 6, :bottom 2, :left 7, :right 3, :element :poison, :location "Blue Dragon"}
 {:file "Bomb.png", :level 4, :name "Bomb", :top 2, :bottom 7, :left 6, :right 3, :element :fire, :location "Bomb"}
 {:file "Buel.png", :level 2, :name "Buel", :top 6, :bottom 2, :left 2, :right 3, :element nil, :location "Buel"}
 {:file "Cactuar.png", :level 3, :name "Cactaur", :top 6, :bottom 2, :left 6, :right 3, :element nil, :location "Cactaur"}
 {:file "Carbuncle.png", :level 9, :name "Carbuncle", :top 8, :bottom 4, :left 10, :right 4, :element nil, :location "CC Heart (Xu)"}
 {:file "Caterchipillar.png", :level 1, :name "Caterchipillar", :top 4, :bottom 2, :left 4, :right 3, :element nil, :location "Caterchipillar"}
 {:file "Catoblepas.png", :level 7, :name "Catoblepas", :top 1, :bottom 8, :left 7, :right 7, :element nil, :location "Elnoyle, Armadodo"}
 {:file "Cerberus.png", :level 9, :name "Cerberus", :top 7, :bottom 4, :left 6, :right 10, :element nil, :location "Cerberus"}
 {:file "Chocobo.png", :level 8, :name "Chicobo", :top 9, :bottom 4, :left 8, :right 4, :element nil, :location "Chocobo Forests"}
 {:file "Chimera.png", :level 5, :name "Chimera", :top 7, :bottom 6, :left 5, :right 3, :element :water, :location "Chimera"}
 {:file "ChubbyChocobo.png", :level 8, :name "Chubby Chocobo", :top 4, :bottom 4, :left 8, :right 9, :element nil, :location "Card Queen"}
 {:file "Cockatrice.png", :level 1, :name "Cockatrice", :top 6, :bottom 1, :left 2, :right 6, :element :thunder, :location "Cockatrice"}
 {:file "Creeps.png", :level 2, :name "Creeps", :top 5, :bottom 2, :left 5, :right 2, :element :thunder, :location "Creeps"}
 {:file "DeathClaw.png", :level 3, :name "Death Claw", :top 4, :bottom 4, :left 7, :right 2, :element :fire, :location "Death Claw"}
 {:file "Diablos.png", :level 9, :name "Diablos", :top 5, :bottom 10, :left 8, :right 3, :element nil, :location "Diablos"}
 {:file "Doomtrain.png", :level 9, :name "Doomtrain", :top 3, :bottom 1, :left 10, :right 10, :element :poison, :location "Card Queen"}
 {:file "Edea.png", :level 10, :name "Edea", :top 10, :bottom 10, :left 3, :right 3, :element nil, :location "Edea"}
 {:file "Eden.png", :level 9, :name "Eden", :top 4, :bottom 4, :left 9, :right 10, :element nil, :location "Ultima Weapon"}
 {:file "Elastoid.png", :level 5, :name "Elastiod", :top 6, :bottom 2, :left 6, :right 7, :element nil, :location "Elastiod"}
 {:file "Elnoyle.png", :level 5, :name "Elnoyle", :top 5, :bottom 3, :left 7, :right 6, :element nil, :location "Elnoyle"}
 {:file "Elvoret.png", :level 6, :name "Elvoret", :top 7, :bottom 8, :left 3, :right 4, :element :wind, :location "Ochu,  Bite Bug"}
 {:file "FastitocalonF.png", :level 3, :name "Fastitcalon", :top 7, :bottom 5, :left 1, :right 3, :element :earth, :location "Fastitcalon"}
 {:file "FastitocalonF.png", :level 1, :name "Fastitocalon-F", :top 3, :bottom 5, :left 2, :right 1, :element :earth, :location "Fastitocalon-F"}
 {:file "Forbidden.png", :level 3, :name "Forbidden", :top 6, :bottom 6, :left 3, :right 2, :element nil, :location "Forbidden"}
 {:file "FujinRaijin.png", :level 6, :name "Fujin, Raijin", :top 2, :bottom 8, :left 8, :right 4, :element nil, :location "Iron Giant, Jelleye"}
 {:file "Funguar.png", :level 1, :name "Fungar", :top 5, :bottom 1, :left 1, :right 3, :element nil, :location "Fungar"}
 {:file "GIM47N.png", :level 5, :name "GIM47N", :top 5, :bottom 5, :left 7, :right 4, :element nil, :location "GIM47N"}
 {:file "Grat.png", :level 7, :name "Gargantua", :top 5, :bottom 6, :left 6, :right 8, :element nil, :location "Imp, Thrustaevis"}
 {:file "Gayla.png", :level 1, :name "Gayla", :top 2, :bottom 1, :left 4, :right 4, :element :thunder, :location "Gayla"}
 {:file "Geezard.png", :level 1, :name "Geezard", :top 1, :bottom 4, :left 5, :right 1, :element nil, :location "Geezard"}
 {:file "Gerogero.png", :level 6, :name "Gerogero", :top 1, :bottom 8, :left 8, :right 3, :element :poison, :location "Cactaur, Gayla"}
 {:file "Gesper.png", :level 1, :name "Gesper", :top 1, :bottom 5, :left 4, :right 1, :element nil, :location "Gesper"}
 {:file "Gilgamesh.png", :level 8, :name "Gilgamesh", :top 3, :bottom 7, :left 9, :right 6, :element nil, :location "CC King"}
 {:file "Gayla.png", :level 2, :name "Glacial Eye", :top 6, :bottom 1, :left 4, :right 3, :element :ice, :location "Glacial Eye"}
 {:file "Grat.png", :level 2, :name "Grand Mantis", :top 5, :bottom 2, :left 5, :right 3, :element nil, :location "Grand Mantis"}
 {:file "Grat.png", :level 2, :name "Grat", :top 7, :bottom 1, :left 3, :right 1, :element nil, :location "Grat"}
 {:file "Grendel.png", :level 6, :name "Grenaldo", :top 7, :bottom 2, :left 8, :right 5, :element nil, :location "Death Claw,  Blobra"}
 {:file "Grendel.png", :level 2, :name "Grendel", :top 4, :bottom 4, :left 5, :right 2, :element :thunder, :location "Grendel"}
 {:file "Hexadragon.png", :level 4, :name "Hexadragon", :top 7, :bottom 5, :left 4, :right 3, :element :fire, :location "Hexadragon"}
 {:file "Ifrit.png", :level 8, :name "Ifrit", :top 9, :bottom 6, :left 2, :right 8, :element :fire, :location "Fire Cavern (Ifrit)"}
 {:file "Iguion.png", :level 6, :name "Iguion", :top 8, :bottom 2, :left 8, :right 2, :element nil, :location "Tonberry, Gesper"}
 {:file "Imp.png", :level 4, :name "Imp", :top 3, :bottom 7, :left 3, :right 6, :element nil, :location "Imp"}
 {:file "Grat.png", :level 5, :name "Iron Giant", :top 6, :bottom 5, :left 6, :right 5, :element nil, :location "Iron Giant"}
 {:file "Irvine.png", :level 10, :name "Irvine", :top 2, :bottom 6, :left 9, :right 10, :element nil, :location "Card Queen"}
 {:file "Jelleye.png", :level 2, :name "Jelleye", :top 3, :bottom 2, :left 1, :right 7, :element nil, :location "Jelleye"}
 {:file "Cactuar.png", :level 7, :name "Jumbo Cactaur", :top 8, :bottom 8, :left 4, :right 4, :element nil, :location "Wendigo,  Glacial Eye"}
 {:file "Kiros.png", :level 10, :name "Kiros", :top 6, :bottom 7, :left 6, :right 10, :element nil, :location "Card Queen"}
 {:file "Krysta.png", :level 6, :name "Krysta", :top 7, :bottom 5, :left 8, :right 1, :element nil, :location "Bomb, Buel789"}
 {:file "Laguna.png", :level 10, :name "Laguna", :top 5, :bottom 10, :left 3, :right 9, :element nil, :location "Ellone"}
 {:file "Leviathan.png", :level 9, :name "Leviathan", :top 7, :bottom 10, :left 1, :right 7, :element :water, :location "CC Joker"}
 {:file "Malboro.png", :level 5, :name "Malboro", :top 7, :bottom 7, :left 4, :right 2, :element :poison, :location "Malboro"}
 {:file "Mesmerize.png", :level 2, :name "Mesmerize", :top 5, :bottom 3, :left 3, :right 4, :element nil, :location "Mesmerize"}
 {:file "MiniMog.png", :level 8, :name "MinMog", :top 9, :bottom 3, :left 9, :right 2, :element nil, :location "Balamb Garden"}
 {:file "Minotaur.png", :level 8, :name "Minotaur", :top 9, :bottom 9, :left 2, :right 5, :element :earth, :location "Tomb of the Unknown King"}
 {:file "MobileType8.png", :level 7, :name "Mobile Type 8", :top 8, :bottom 6, :left 7, :right 3, :element nil, :location "Blue Dragon, Anacondaur"}
 {:file "Ochu.png", :level 3, :name "Ochu", :top 5, :bottom 6, :left 3, :right 3, :element nil, :location "Ochu"}
 {:file "Odin.png", :level 9, :name "Odin", :top 8, :bottom 10, :left 3, :right 5, :element nil, :location "Odin"}
 {:file "Oilboyle.png", :level 6, :name "Oilboyle", :top 1, :bottom 8, :left 4, :right 8, :element nil, :location "GIM47N, Cockatrice"}
 {:file "Pandemona.png", :level 9, :name "Pandemona", :top 10, :bottom 1, :left 7, :right 7, :element :wind, :location "Balamb"}
 {:file "Phoenix.png", :level 9, :name "Phoenix", :top 7, :bottom 2, :left 7, :right 10, :element :fire, :location "Card Queen"}
 {:file "Propagator.png", :level 7, :name "Propagator", :top 8, :bottom 4, :left 4, :right 8, :element nil, :location "Blitz,  Mesmerize"}
 {:file "PuPu.png", :level 5, :name "PuPu", :top 3, :bottom 10, :left 2, :right 1, :element nil, :location "PuPu (UFO encounters)"}
 {:file "Quezacotl.png", :level 8, :name "Quezacotl", :top 2, :bottom 9, :left 9, :right 4, :element :thunder, :location "FH (Mayor Dobe)"}
 {:file "Quistis.png", :level 10, :name "Quistis", :top 9, :bottom 6, :left 10, :right 2, :element nil, :location "Balamb Garden"}
 {:file "RedBat.png", :level 1, :name "Red Bat", :top 6, :bottom 1, :left 1, :right 2, :element nil, :location "Red Bat"}
 {:file "RedGiant.png", :level 7, :name "Red Giant", :top 6, :bottom 8, :left 4, :right 7, :element nil, :location "Chimera, Forbidden"}
 {:file "Rinoa.png", :level 10, :name "Rinoa", :top 4, :bottom 10, :left 2, :right 10, :element nil, :location "Rinoa's Father"}
 {:file "RubyDragon.png", :level 5, :name "Ruby Dragon", :top 7, :bottom 2, :left 7, :right 4, :element :fire, :location "Ruby Dragon"}
 {:file "SAM08G.png", :level 3, :name "SAM08G", :top 5, :bottom 6, :left 2, :right 4, :element :fire, :location "SAM08G"}
 {:file "Sacred.png", :level 8, :name "Sacred", :top 5, :bottom 1, :left 9, :right 9, :element :earth, :location "Brothers"}
 {:file "Seifer.png", :level 10, :name "Seifer", :top 6, :bottom 9, :left 10, :right 4, :element nil, :location "Cid"}
 {:file "Selphie.png", :level 10, :name "Selphie", :top 10, :bottom 8, :left 4, :right 6, :element nil, :location "Trabia Garden"}
 {:file "Shiva.png", :level 8, :name "Shiva", :top 6, :bottom 7, :left 4, :right 9, :element :ice, :location "White SeeD Ship (Zone)"}
 {:file "NORG.png", :level 6, :name "Shumi Tribe", :top 6, :bottom 5, :left 8, :right 4, :element nil, :location "TRexaur, Grat"}
 {:file "Siren.png", :level 8, :name "Siren", :top 9, :bottom 6, :left 2, :right 8, :element nil, :location "Dollet Pub"}
 {:file "SnowLion.png", :level 3, :name "Snow Lion", :top 7, :bottom 1, :left 5, :right 3, :element :ice, :location "Snow Lion"}
 {:file "Sphinxaur.png", :level 7, :name "Sphinxara", :top 8, :bottom 3, :left 5, :right 8, :element nil, :location "Adamantoise, Creeps"}
 {:file "Squall.png", :level 10, :name "Squall", :top 10, :bottom 10, :left 9, :right 6, :element nil, :location "Laguna"}
 {:file "TRexaur.png", :level 4, :name "T-Rexaur", :top 4, :bottom 6, :left 2, :right 7, :element nil, :location "T-Rexaur"}
 {:file "Thrustaevis.png", :level 2, :name "Thrustaevis", :top 5, :bottom 3, :left 2, :right 5, :element :wind, :location "Thrustaevis"}
 {:file "Tiamat.png", :level 7, :name "Tiamat", :top 8, :bottom 8, :left 5, :right 4, :element nil, :location "Hexadragon, Grendel"}
 {:file "Tonberry.png", :level 3, :name "Tonberry", :top 3, :bottom 6, :left 4, :right 4, :element nil, :location "Tonberry"}
 {:file "Tonberry.png", :level 5, :name "Tonberry King", :top 4, :bottom 6, :left 7, :right 4, :element nil, :location "Fatitocalon,  Malboro"}
 {:file "Torama.png", :level 4, :name "Torama", :top 7, :bottom 4, :left 4, :right 4, :element nil, :location "Torama"}
 {:file "Trauma.png", :level 6, :name "Trauma", :top 4, :bottom 8, :left 5, :right 6, :element nil, :location "Turtapod,  Caterchipillar"}
 {:file "TriPoint.png", :level 7, :name "Tri-Point", :top 8, :bottom 5, :left 2, :right 8, :element :thunder, :location "Torama,  Belhelmel"}
 {:file "TriFace.png", :level 3, :name "TriFace", :top 3, :bottom 5, :left 5, :right 5, :element :poison, :location "TriFace"}
 {:file "Turtapod.png", :level 4, :name "Turtapod", :top 2, :bottom 3, :left 6, :right 7, :element nil, :location "Turtapod"}
 {:file "UltimaWeapon.png", :level 7, :name "Ultima Weapon", :top 7, :bottom 7, :left 2, :right 8, :element nil, :location "Elastiod, Tri-Face"}
 {:file "Vysage.png", :level 4, :name "Vysage", :top 6, :bottom 5, :left 4, :right 5, :element nil, :location "Vysage, Lefty, Righty"}
 {:file "Ward.png", :level 10, :name "Ward", :top 10, :bottom 7, :left 2, :right 8, :element nil, :location "Dr. Odine"}
 {:file "BiggsWedge.png", :level 5, :name "Wedge, Biggs", :top 6, :bottom 6, :left 2, :right 7, :element nil, :location "Snow Lion,  Fungaur"}
 {:file "Wendigo.png", :level 4, :name "Wendigo", :top 7, :bottom 3, :left 1, :right 6, :element nil, :location "Wendigo"}
 {:file "X-ATM092.png", :level 6, :name "X-ATM092", :top 4, :bottom 8, :left 4, :right 3, :element nil, :location "SAM08G,  Red Bat"}
 {:file "Zell.png", :level 10, :name "Zell", :top 8, :bottom 5, :left 10, :right 6, :element nil, :location "Zell's Mother"}]
