.card {
    height:130px;
    width:100px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    border: solid;
}

.hand {
    padding: 5px;
    height:130px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.picked {
    background: purple;
}

.neutral {
    background: beige;
}
