.card {
    height:130px;
    width:100px;
    display:table-cell;
    vertical-align:middle;
    text-align:center
}

.red {
    @extend .card;
    background: red;
}

.blue {
    @extend .card;
    background: blue;
}

.neutral {
    @extend .card;
    border: solid;
    background: beige;
}
